.aboutMeLogo{
    text-align: center;
    margin-top: 50px;
}
.imgs{
    display: block;
    margin: 100px auto;
}
.mypic{
    border: 5px solid #6c6f6c;
    box-shadow: 10px 5px 5px #848884;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.descrip{
    margin-top: 80px;
}
.descrip p{
    width: 400px;
}
h3{
    text-align: center;
    margin: 50px 0;
}
.educ h5{
    text-align: center;
    margin-top: 20px;
}
.educ h6{
    text-align: center;
}
.cert{
    margin: 50px 0;
}
.certs{
    display: block;
    text-align: center;
    margin: 20px 0;
    margin-top: 0px;
}
.certRow{
    margin-bottom: 100px;
}
.contactAboutMe{
    display: inline-block;
    color: black;
}
.xxx{
    text-align: center;
    margin-top: 50px;
}